/* Estilos gerais */
body {
    height: 100%;             /* Faz o site ocupar 100% da altura da tela */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    padding: 20px 0; /* Espaçamento em cima e embaixo */
    position: relative; /* Permite o posicionamento absoluto dos links */
}

.name {
    font-size: 3em; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Deixa a fonte em negrito */
    margin: 0 auto;
    text-align: center; /* Centraliza o texto */
    color: #ffffff; /* Cor do texto (branco) */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para dar profundidade */
    position: absolute; /* Para posicionar no centro da tela */
    top: 8%; /* Ajuste a posição vertical conforme necessário */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para que o texto fique exatamente no centro */
    z-index: 0; /* Garante que o texto fique acima de outros elementos */
    padding: 20px; /* Espaçamento ao redor do texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para destaque */
    border-radius: 10px; /* Bordas arredondadas para suavizar */
}

.links-around {
    position: absolute;
    top: 600px;
    left: 49%;
    transform: translate(-50%, -50%); /* Centraliza a área dos links ao redor da imagem */
    display: flex;
    flex-wrap: wrap;              /* Envolve os links em volta da imagem */
    justify-content: center;
    align-items: center;
    width: 600px;                 /* Largura ao redor da imagem para distribuir os links */
    height: 600px;                /* Altura ao redor da imagem */
    pointer-events: none;         /* Para evitar interferência de clique na área */
}

/* Definindo a posição dos links em um formato circular */
.links-around a.link {
    position: absolute;
    width: 150px;                 /* Largura dos botões de link */
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    pointer-events: auto;         /* Permite que os links sejam clicáveis */
    transition: transform 0.3s ease;
}

/* Posicionamento dos links ao redor da imagem em um formato circular */
.links-around a.link:nth-child(1) {
    top: -10px;                   /* Link superior */
    left: 42%;
    transform: rotate(0deg);
    z-index: 1000; /* Garante que o menu fique sobreposto ao conteúdo */
    -webkit-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
}

.links-around a.link:nth-child(2) {
    top: 15%;
    left: 500px;                  /* Link à direita */
    transform: rotate(50deg);
    z-index: 1000; /* Garante que o menu fique sobreposto ao conteúdo */
    -webkit-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 30px -10px 25px 1px rgba(0,0,0,0.75);
}

.links-around a.link:nth-child(3) {
    top: 60px;                /* Link inferior */
    left: 80%;
    transform: rotate(315deg);
    z-index: 1000; /* Garante que o menu fique sobreposto ao conteúdo */
    -webkit-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 30px 25px 1px rgba(0,0,0,0.75);
}

.links-around a.link:nth-child(4) {
    top: 14%;
    left: -10px;                 /* Link à esquerda */
    transform: rotate(50deg);
    z-index: 1000; /* Garante que o menu fique sobreposto ao conteúdo */
    -webkit-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 30px -10px 25px 1px rgba(0,0,0,0.75);
}

.links-around a.link:nth-child(5) {
    top: 15%;
    left: -10px;                  /* Link superior esquerdo */
    transform: rotate(-50deg);
    z-index: 1000; /* Garante que o menu fique sobreposto ao conteúdo */
    -webkit-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 20px 25px 1px rgba(0,0,0,0.75);
}

.links-around a.link:hover {
    background: linear-gradient(45deg, #0400ff, #45458f, #4e4e72 ,#999999); /* Efeito de gradiente */
    transform: scale(1.5); /* Animação ao passar o mouse */
    color: white; /* Alterar a cor do texto para branco para melhor contraste */
    background-color: #0400ff;
    box-shadow: 0 4px 30px rgba(0, 123, 255, 5); /* Adiciona sombra */
    transition: transform 0.6s ease, background-color 0.9s ease, box-shadow 0.9s ease;
}

/* Estilo para a imagem de fundo */
.imagemdefundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre todo o espaço mantendo a proporção */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-alex-index {
    display: flex;
    position: absolute;
    top: 570px;
    left: 20%;
    z-index: -1; /* Garante que o menu fique sobreposto ao conteúdo ou atrás */
    transform: translate(-50%, -50%);
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.foto-alex-index img.profile {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: -1; /* Garante que o menu fique sobreposto ao conteúdo ou atrás */
    -webkit-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
}

/* Ícones de linguagens no canto direito */
.linguagem-programacao {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Garante que o menu fique sobreposto ao conteúdo */
    -webkit-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 15px 1px rgba(0,0,0,0.75);
}

.linguagem-programacao img {
    width: 50px;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

.social-links {
    margin-bottom: 8px;
}

.social-links a {
    color: white;
    font-size: 30px;
    margin: 0 6px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0400ff; /* Cor de destaque ao passar o mouse */
}

footer p {
    margin-top: 5px;
}

/* Para telas menores que 2160px (Telas 4K) */
@media (min-width: 2160px) and (max-width: 4096px){
    body {
        height: 1200px;             /* Faz o site ocupar 100% da altura da tela */
        margin: 0 auto;            /* Centraliza o site horizontalmente */
        background-color: #f0f0f0; /* Cor de fundo do site */
        padding: 20px;
        font-size: 60px; /* Aumenta o tamanho da fonte para telas grandes */
        padding: 50px; /* Ajusta o espaçamento */
      }

      .name {
        font-size: 2vw; /* Fonte ajusta de acordo com a largura da tela */
        top: 10vh; /* A posição ajusta de acordo com a altura da tela */
    }

    .links-around {
        display: flex;
        position: absolute;
        top: 500px;
        width: 1200px;
        height: 550px;
        left: 50%;
    }

    /* Posicionamento dos links ao redor da imagem em um formato circular */
    .links-around a.link:nth-child(1) {
        top: 0%;                   /* Link superior */
        left: 42%;
        transform: rotate(0deg);
    }

    .links-around a.link:nth-child(2) {
        top: 40%;
        left: 74%;                  /* Link superior à direita */
        transform: rotate(50deg);
    }

    .links-around a.link:nth-child(3) {
        top: 120%;                /* Link inferior à direita */
        left: 74%;
        transform: rotate(315deg);
    }

    .links-around a.link:nth-child(4) {
        top: 120%;
        left: 10%;                 /* Link inferior à esquerda */
        transform: rotate(50deg);
    }

    .links-around a.link:nth-child(5) {
        top: 40%;
        left: 7%;                  /* Link superior esquerdo */
        transform: rotate(-50deg);
    }

    .links-around a.link:hover {
        background: linear-gradient(45deg, #0400ff, #45458f, #4e4e72 ,#999999); /* Efeito de gradiente */
        transform: scale(1.5); /* Animação ao passar o mouse */
        color: white; /* Alterar a cor do texto para branco para melhor contraste */
        background-color: #0400ff;
        box-shadow: 0 4px 30px rgba(0, 123, 255, 5); /* Adiciona sombra */
        transition: transform 0.6s ease, background-color 0.9s ease, box-shadow 0.9s ease;
    }

    .links-around a.link {
        width: 200px;
        font-size: 35px;
    }

    .imagemdefundo{
        height: 1200px;
    }

    .foto-alex-index {
        display: flex;
        position: absolute;
        top: 600px;
        left: 50%;
        z-index: -1; /* Garante que o menu fique sobreposto ao conteúdo ou atrás */
    }

    .foto-alex-index img.profile {
        display: flex;
        position: absolute;
        width: 500px;
        height: 500px;
    }

    .linguagem-programacao {
        position: fixed;
        right: 20px;
        top: 50%;
    }

    .linguagem-programacao img {
        width: 70px;
    }

    .social-links {
        margin-bottom: 15px;
    }

    .social-links a {
        margin: 1px 0px;
        font-size: 40px;
    }

    footer {
        font-size: 35px;
        left: 0px;
    }
}

/* Para telas menores que 1440px (Tela 2K) */
@media (min-width: 1930px) and (max-width: 2160px){
    body {
        height: 1100px;             /* Faz o site ocupar 100% da altura da tela */
        margin: 0 auto;            /* Centraliza o site horizontalmente */
        background-color: #f0f0f0; /* Cor de fundo do site */
        padding: 20px;
        font-size: 60px; /* Aumenta o tamanho da fonte para telas grandes */
        padding: 50px; /* Ajusta o espaçamento */
      }

      .name {
        font-size: 3vw; /* Fonte ajusta de acordo com a largura da tela */
        top: 10vh; /* A posição ajusta de acordo com a altura da tela */
    }

    .links-around {
        display: flex;
        position: absolute;
        top: 500px;
        width: 1200px;
        height: 550px;
        left: 50%;
    }

    /* Posicionamento dos links ao redor da imagem em um formato circular */
    .links-around a.link:nth-child(1) {
        top: 0%;                   /* Link superior */
        left: 42%;
        transform: rotate(0deg);
    }

    .links-around a.link:nth-child(2) {
        top: 40%;
        left: 74%;                  /* Link superior à direita */
        transform: rotate(50deg);
    }

    .links-around a.link:nth-child(3) {
        top: 120%;                /* Link inferior à direita */
        left: 74%;
        transform: rotate(315deg);
    }

    .links-around a.link:nth-child(4) {
        top: 120%;
        left: 10%;                 /* Link inferior à esquerda */
        transform: rotate(50deg);
    }

    .links-around a.link:nth-child(5) {
        top: 40%;
        left: 7%;                  /* Link superior esquerdo */
        transform: rotate(-50deg);
    }

    .links-around a.link:hover {
        background: linear-gradient(45deg, #0400ff, #45458f, #4e4e72 ,#999999); /* Efeito de gradiente */
        transform: scale(1.5); /* Animação ao passar o mouse */
        color: white; /* Alterar a cor do texto para branco para melhor contraste */
        background-color: #0400ff;
        box-shadow: 0 4px 30px rgba(0, 123, 255, 5); /* Adiciona sombra */
        transition: transform 0.6s ease, background-color 0.9s ease, box-shadow 0.9s ease;
    }

    .links-around a.link {
        width: 200px;
        font-size: 35px;
    }

    .imagemdefundo{
        height: 1200px;
    }

    .foto-alex-index {
        display: flex;
        position: absolute;
        top: 600px;
        left: 50%;
        z-index: -1; /* Garante que o menu fique sobreposto ao conteúdo ou atrás */
    }

    .foto-alex-index img.profile {
        display: flex;
        position: absolute;
        width: 500px;
        height: 500px;
    }

    .linguagem-programacao {
        position: fixed;
        right: 20px;
        top: 50%;
    }

    .linguagem-programacao img {
        width: 70px;
    }

    .social-links {
        margin-bottom: 15px;
    }

    .social-links a {
        margin: 1px 0px;
        font-size: 40px;
    }

    footer {
        font-size: 35px;
        left: 0px;
    }
}

/* Estilo para telas Full HD (1920px) */
@media (min-width: 1366px) and (max-width: 1920px){
    body {
        height: auto;             /* Faz o site ocupar 100% da altura da tela */
        margin: 0 auto;            /* Centraliza o site horizontalmente */
        background-color: #f0f0f0; /* Cor de fundo do site */
        padding: 20px;
        font-size: 50px; /* Aumenta o tamanho da fonte para telas grandes */
        padding: 50px; /* Ajusta o espaçamento */
      }

      .name {
        font-size: 3vw; /* Fonte ajusta de acordo com a largura da tela */
        top: 10vh; /* A posição ajusta de acordo com a altura da tela */
        left: 50%;
    }

    .links-around {
        display: flex;
        position: absolute;
        top: 500px;
        width: 1200px;
        height: 550px;
        left: 50%;
    }

    /* Posicionamento dos links ao redor da imagem em um formato circular */
    .links-around a.link:nth-child(1) {
        top: 0%;                   /* Link superior */
        left: 43%;
        transform: rotate(0deg);
    }

    .links-around a.link:nth-child(2) {
        top: 20%;
        left: 63%;                  /* Link superior à direita */
        transform: rotate(50deg);
    }

    .links-around a.link:nth-child(3) {
        top: 70%;                /* Link inferior à direita */
        left: 64%;
        transform: rotate(315deg);
    }

    .links-around a.link:nth-child(4) {
        top: 70%;
        left: 22%;                 /* Link inferior à esquerda */
        transform: rotate(45deg);
    }

    .links-around a.link:nth-child(5) {
        top: 20%;
        left: 22%;                  /* Link superior esquerdo */
        transform: rotate(-50deg);
    }

    .links-around a.link:hover {
        background: linear-gradient(45deg, #0400ff, #45458f, #4e4e72 ,#999999); /* Efeito de gradiente */
        transform: scale(1.5); /* Animação ao passar o mouse */
        color: white; /* Alterar a cor do texto para branco para melhor contraste */
        background-color: #0400ff;
        box-shadow: 0 4px 30px rgba(0, 123, 255, 5); /* Adiciona sombra */
        transition: transform 0.6s ease, background-color 0.9s ease, box-shadow 0.9s ease;
    }

    .links-around a.link {
        width: 150px;
        font-size: 25px;
    }

    .imagemdefundo{
        height: 1200px;
    }

    .foto-alex-index {
        display: flex;
        position: absolute;
        top: 450px;
        left: 50%;
        z-index: -1; /* Garante que o menu fique sobreposto ao conteúdo ou atrás */
    }

    .foto-alex-index img.profile {
        display: flex;
        position: absolute;
        width: 300px;
        height: 300px;
    }

    .linguagem-programacao {
        position: fixed;
        right: 20px;
        top: 50%;
    }

    .linguagem-programacao img {
        width: 50px;
    }

    .social-links {
        margin-bottom: 15px;
    }

    .social-links a {
        margin: 1px 0px;
        font-size: 20px;
    }

    footer {
        font-size: 15px;
        left: 0px;
    }
}


/* Estilos para telas menores que 1366px (HD ou abaixo) */
@media (min-width: 768px) and (max-width: 1366px){
    body {
        height: auto;             /* Faz o site ocupar 100% da altura da tela */
        margin: 0 auto;            /* Centraliza o site horizontalmente */
        background-color: #f0f0f0; /* Cor de fundo do site */
        padding: 20px;
        font-size: 20px; /* Aumenta o tamanho da fonte para telas grandes */
        padding: 50px; /* Ajusta o espaçamento */
      }
    .name {
        font-size: 2em;
        top: 8%;
        left: 53.5%;
    }

    .links-around {
        display: flex;
        position: absolute;
        top: 350px;
        width: 500px;
        height: 500px;
    }

    .links-around a.link {
        width: 100px;
        font-size: 18px;
    }

    /* Posicionamento dos links ao redor da imagem em um formato circular */
    .links-around a.link:nth-child(1) {
        top: 10px;                   /* Link superior */
        left: 50%;
        transform: rotate(0deg);
    }

    .links-around a.link:nth-child(2) {
        top: 25%;
        left: 500px;                  /* Link à direita */
        transform: rotate(50deg);
    }

    .links-around a.link:nth-child(3) {
        top: 90%;                /* Link inferior */
        left: 100%;
        transform: rotate(315deg);
    }

    .links-around a.link:nth-child(4) {
        top: 90%;
        left: 1%;                 /* Link à esquerda */
        transform: rotate(50deg);
    }

    .links-around a.link:nth-child(5) {
        top: 25%;
        left: -10px;                  /* Link superior esquerdo */
        transform: rotate(-50deg);
    }

    .links-around a.link:hover {
        background: linear-gradient(45deg, #0400ff, #45458f, #4e4e72 ,#999999); /* Efeito de gradiente */
        transform: scale(1.5); /* Animação ao passar o mouse */
        color: white; /* Alterar a cor do texto para branco para melhor contraste */
        background-color: #0400ff;
        box-shadow: 0 4px 30px rgba(0, 123, 255, 5); /* Adiciona sombra */
        transition: transform 0.6s ease, background-color 0.9s ease, box-shadow 0.9s ease;
    }

    .foto-alex-index img.profile {
        display: flex;
        position: absolute;
        width: 300px;
        height: 300px;
        top: -370px;
        left: -110px;
    }
}

/* Para telas menores que 768px (smartphones ou tablets) */
@media (min-width: 240px) and (max-width: 768px){
    .name {
        font-size: 1.5em;
        top: 10%;
    }

    .links-around {
        display: flex;
        position: absolute;
        top: 350px;
        width: 300px;
        height: 300px;
        left: 45%;
    }

    .links-around a.link:nth-child(2) {
        top: 15%;
        left: 260px;                  /* Link à direita */
        transform: rotate(50deg);
    }

    .links-around a.link:nth-child(3) {
        top: 74%;
        left: 260px;                  /* Link inferior a direita */
        transform: rotate(312deg);
    }

    .links-around a.link:nth-child(4) {
        top: 74%;
        left: -10px;                  /* Link inferior a esquerda */
        transform: rotate(50deg);
    }

    .links-around a.link:hover {
        background: linear-gradient(45deg, #0400ff, #45458f, #4e4e72 ,#999999); /* Efeito de gradiente */
        transform: scale(1.5); /* Animação ao passar o mouse */
        color: white; /* Alterar a cor do texto para branco para melhor contraste */
        background-color: #0400ff;
        box-shadow: 0 4px 30px rgba(0, 123, 255, 5); /* Adiciona sombra */
        transition: transform 0.6s ease, background-color 0.9s ease, box-shadow 0.9s ease;
    }

    .links-around a.link {
        width: 90px;
        font-size: 15px;
    }

    .foto-alex-index {
        display: flex;
        position: absolute;
        top: 570px;
        left: 50%;
        z-index: -1; /* Garante que o menu fique sobreposto ao conteúdo ou atrás */
    }

    .foto-alex-index img.profile {
        display: flex;
        position: absolute;
        top: -370px;
        width: 200px;
        height: 200px;
    }

    .linguagem-programacao {
        position: fixed;
        right: 20px;
        top: 65%;
    }

    .linguagem-programacao img {
        width: 40px;
    }

    footer {
        font-size: 12px;
    }
}